{% extends 'layout.html' %}

{% block content %}
<div class="container-fluid w-50 mt-5 bg-light">
    <p>For What Purpose Do you Mainly Use Python?</p>

<form>
  <input type="radio"  name="fav_language" >
  <label >Both for work and personal</label><br>
  <input type="radio"  name="fav_language" >
  <label >For personal, educational or side projects</label><br>
  <input type="radio"  name="fav_language" >
  <label >For work</label>
</form><br>

<p> What Do you Use Python for?</p>

<form>
  <input type="checkbox"  name="fav_language" >
  <label >Wed Development</label><br>
  <input type="checkbox"  name="fav_language" >
  <label >Data analysis</label><br>
  <input type="checkbox"  name="fav_language" >
  <label >Machine learning</label><br>
  <input type="checkbox"  name="fav_language" >
  <label >All the above</label>
</form><br>

<p> To What extends are you invloved in the following activities?</p>

<form>
  <input type="radio"  name="fav_language" >
  <label >primary activity</label><br>
  <input type="radio"  name="fav_language" >
  <label >Secondary Activity</label><br>
  <input type="radio"  name="fav_language" >
  <label >Hobby</label>
  
</form><br>

<p> What Do you Use Python for the most?</p>

<form>
  <input type="checkbox"  name="fav_language" >
  <label >Wed Development</label><br>
  <input type="checkbox"  name="fav_language" >
  <label >Data analysis</label><br>
  <input type="checkbox"  name="fav_language" >
  <label >Machine learning</label><br>
  <input type="checkbox"  name="fav_language" >
  <label >All the above</label>
</form><br>

<p> Do you Consider yourself a Data Scientist?</p>

<form>
  <input type="radio"  name="fav_language" >
  <label >Yes</label><br>
  <input type="radio"  name="fav_language" >
  <label >No</label><br>
  <input type="radio"  name="fav_language" >
  <label >Other</label>
  
</form><br>

<p> Python Installation and Upgrade:</p>

<form>
  <input type="checkbox"  name="fav_language" >
  <label >Python.org</label><br>
  <input type="checkbox"  name="fav_language" >
  <label >OS-provided Python</label><br>
  <input type="checkbox"  name="fav_language" >
  <label >Anoconda</label><br>
  <input type="checkbox"  name="fav_language" >
  <label >pyenv</label><br>
  <input type="checkbox"  name="fav_language" >
  <label >others</label><br>
  <input type="checkbox"  name="fav_language" >
  <label >I don't update</label>

</form><br>

<p> Python environment isolation:</p>

<form>
  <input type="checkbox"  name="fav_language" >
  <label >Virtualenv</label><br>
  <input type="checkbox"  name="fav_language" >
  <label >Docker</label><br>
  <input type="checkbox"  name="fav_language" >
  <label >Conda</label><br>
  <input type="checkbox"  name="fav_language" >
  <label >pipenv</label><br>
  <input type="checkbox"  name="fav_language" >
  <label >others</label><br>
  <input type="checkbox"  name="fav_language" >
  <label >None</label>

</form><br>

<p> Favorite Python Feature:</p>

<form>
  <input type="checkbox"  name="fav_language" >
  <label >Easy to write & read code</label><br>
  <input type="checkbox"  name="fav_language" >
  <label >Simple Syntax,easy to learn</label><br>
  <input type="checkbox"  name="fav_language" >
  <label >Versatility, libraries for any problem</label><br>
  <input type="checkbox"  name="fav_language" >
  <label >List & Dictionary</label><br>
  <input type="checkbox"  name="fav_language" >
  <label >Import System</label><br>
  <input type="checkbox"  name="fav_language" >
  <label >Other**</label>

</form><br>

<p> Web FrameWorks:</p>

<form>
  <input type="checkbox"  name="fav_language" >
  <label >Flask</label><br>
  <input type="checkbox"  name="fav_language" >
  <label >Django</label><br>
  <input type="checkbox"  name="fav_language" >
  <label >FastAPI</label><br>
  <input type="checkbox"  name="fav_language" >
  <label >Tornada</label><br>
  <input type="checkbox"  name="fav_language" >
  <label >None</label><br>
  <input type="checkbox"  name="fav_language" >
  <label >Other</label>

</form><br>

<p> Data Science frameworks and libraries?</p>

<form>
  <input type="checkbox"  name="fav_language" >
  <label >Numpy</label><br>
  <input type="checkbox"  name="fav_language" >
  <label >Pandas</label><br>
  <input type="checkbox"  name="fav_language" >
  <label >matplotlib</label><br>
  <input type="checkbox"  name="fav_language" >
  <label >SciPy</label><br>
  <input type="checkbox"  name="fav_language" >
  <label >Scikit-learn</label><br>
  <input type="checkbox"  name="fav_language" >
  <label >Other</label><br>
  <input type="checkbox"  name="fav_language" >
  <label >None</label>


</form><br>

<div class="text-center"><button type="submit" class="btn btn-primary ">Submit</button></div>

</div>


{% endblock content %}